.post {
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.post-body {
  margin-top: 15px;
  font-weight: lighter;
  
}