.post {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.post-body {
  margin-top: 15px;
  font-weight: lighter;
}

.App-layout {
  padding-bottom: 70px; 
  background: white;
}

.App-content {
  padding: 0 10px; 
  min-height: 280 
}

.App-footer {
  text-align: center;
  border-top: 1px solid #e8e8e8;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

